numpy
pandas
matplotlib
seaborn
#-----------------------------
streamlit
streamlit-pandas-profiling
#-----------------------------
plotly
altair
#-----------------------------
scikit-learn
statsmodels
xgboost
optuna
shap
#-----------------------------
sweetviz
pygwalker
ydata-profiling
#-----------------------------
holidays
openpyxl
#-----------------------------
tensorflow
keras
