numpy
pandas
matplotlib
seaborn
#-----------------------------
streamlit
#-----------------------------
plotly
altair
#-----------------------------
scikit-learn
statsmodels
xgboost
optuna
shap
#-----------------------------
sweetviz
pygwalker
#-----------------------------
holidays
openpyxl
#-----------------------------
tensorflow
keras
