numpy
pandas
matplotlib
seaborn
#-----------------------------
streamlit
#streamlit-pandas-profiling==0.1.3
#-----------------------------
plotly
altair
#-----------------------------
scikit-learn
statsmodels
xgboost
optuna
shap
#-----------------------------
autoviz
sweetviz
pygwalker==0.4.8.1
#ydata-profiling==4.8.3
#-----------------------------
holidays
openpyxl
#-----------------------------
tensorflow
keras
#-----------------------------
pycaret==3.3.2
catboost
scikit-plot
